# Specify all .gitignore settings here, not in subdirectories
# config/locales/xx.yml

.ignore
.rvmrc
.ruby-gemset
.ruby-version
tags
*.DS_Store
*.tmp
.project

.bundle/
.idea/
.powrc
.vagrant/
#

db/assets.sql
db/schema.rb
db/*.sqlite3
doc/app/*
log/

tmp/pids/*.pid
