<!-- <div>
  <video width="640" height="480" controls>
    <source src="/video/dongfangshuimo.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div> -->

<table class="table table-hover">
  <thead>
    <tr>
      <th>Watch</th>
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.name%></td>
        <td><%= video.autonym%></td>
        <td><%= link_to "Play", video_path(video) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @videos %>